@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 425px) {
  .cardfooter {
    display: flex;
    flex-direction: column;
  }
  .button-footer{
    margin-bottom: 1rem;
  }
}