@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 425px) {
  .boxbasic,
  .cardfooter {
    display: flex;
    flex-direction: column;
  }
  .button-footer{
    margin-bottom: 1rem;
  }
  #standard-basic,
  .standardbasic{
    width: 35vh !important;
  }
  .standardbasic{
    margin-bottom: 1rem;
  }
  .btn svg,
  .h5{
    font-size: 1rem !important;
  }
  li{
    font-size: .7rem;
  }
  .h6{
    font-size: .8rem !important;
  }
}
@media (max-width: 375px) {
  .box-header{
    display: flex !important;
    flex-direction: column !important;
  }
}